---
- hosts: webhost
  tasks: 
   - name: Install httpd service 
     yum: name=httpd state=latest
                                 
   - name: start httpd service 
     service: name=httpd state=started enabled=yes
